.right-column .youtube-embed h4{
	font-family:helvetica, arial, sans-serif;
	color:#1066B2;
	font-size:14px;
	line-height:16px;
	margin-bottom:8px;
}
.right-column .youtube-embed p{
	font-family:helvetica, arial, sans-serif;
	color:#1066B2;
	font-size:12px;
	line-height:16px;
	margin-bottom:0px;
	margin-top:4px;
}

h4.faq {
	font-family: helvetica, arial, sans-serif;
	color: #1066B2;
	font-size: 14px;
	line-height: 16px;
	margin-bottom: 8px;
}

ul.faqs ul {
	list-style: none;
	margin: 0px;
	padding: 8px;
	border-bottom: 1px solid #CCC;
}

ul.faqs li h4 {
	font-family: helvetica, arial, sans-serif;
	padding-left: 8px;
	padding-top: 8px;
	font-size: 14px;
	line-height: 18px;
}

ul.faqs ul li {
	color: #1066B2;
	font-size: 13px;
	font-weight: 400;
	padding-left: 0px;
	line-height: 17px;
	padding-bottom: 10px;
}

ul.faqs li h4 {
	font-family: helvetica, arial, sans-serif;
	padding-left: 8px;
	padding-top: 8px;
	font-size: 14px;
	line-height: 18px;
	color: $font-color-active;
}

ul.faqs ul li a {
	text-decoration: none;
	color: #1066B2;
	font-weight: bold;
}